body{
    margin:0;
    
    background-image:repeating-conic-gradient(
        from 45deg,
        #111 0deg 90deg,
         #222 90deg 180deg);
    background-size: 4rem 4rem;
}
*{
    box-sizing: border-box;
}
.ball{
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation-name: up-down;
    animation-duration: 50s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
    float: left;
}
.ball2{
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation-name: up-down-2;
    animation-duration: 50s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    float: right;
}
@keyframes up-down{
    100%{
        margin-top: 0px;
    }
    75%{
        margin-top: 545px;
    }
}
@keyframes up-down-2{
    100%{
        margin-top: 0px;
    }
    50%{
        margin-top: 545px;
    }
}
.title_container{
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;

}



.game_selection_area{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.game_selection_area>*{
    height:200px;
    width: 200px;
    /****glassmorphism******/
    background-image: linear-gradient(to right, rgba(177, 177, 184, 0.2), rgb(156, 159, 161));
    font-size: 30px;
    text-align: center;
}
.game_selection_area>*:hover{
    box-shadow: 0px 0px 5px 5px rgba(162, 179, 167, 0.5);
}
img {
    width: 100%;
    height: 160px;
}


.game_1{
position: relative;
top: 10rem;

}
.box_container{
    height:calc( 100vh - ( 70px + 70px ) );
    width: calc( 100vw - ( 100px + 100px ) );
    background-color:grey;
    position: absolute;
    top:70px;
    left:100px;

}
.fas{
    font-size: 40px;
    position: absolute;
    left:70rem;
}



.game_2{
    position: relative;
    top: 10rem;

}
.game_3{
    position: relative;
    top: 10rem;
    
}
.main_area{
    border: 1px solid black;
    height: 474px;
    display: flex;
}
.game_area{
    height: 100%;
    border-right:1px solid black;
    width: 75%;
}
.score_area{
    height: 100%;
    width: 25%;
    border: 1px solid black;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.score_area>*{
    width:75px;
    height:75px;
    border: 1px solid ;
    
}
.your_score_area,.computer_score_area{
    font-size: 18px;
    font-family:'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
/****************tic tac toe setup********************/
#div1,#div2,#div3,#div4,#div5,#div6,#div7,#div8,#div9{
    border: 1px solid black;
    height:100px;
    width: 100px;
    float:left;
    font-size: 100px;
    text-align: center;
}
#div1,#div4,#div7{
    clear: left;
    border-left: none;
}
#div3,#div6,#div9{
    border-right: none;
}
#div1,#div2,#div3{
    border-top: none;
}
#div7,#div8,#div9{
    border-bottom: none;
}
#main{
    margin-left: 300px;
    margin-top:100px ;
}
/****************************************************/
/********************for card game section creation*********/
#memory_board{
    text-align: center;
    
    background: #ccc;
    border:#999 1px solid;
    width: 800px;
    height: 400px;
    padding: 24px;
    margin: 0px auto;
}
#memory_board>div{
    background: grey;
    border:#000 1px solid;
    width:71px;
    height: 71px;
    float: left;
    margin: 10px;
    padding: 20px;
    font-size: 64px;
    cursor: pointer;
    text-align: center;
}

